### Windows
# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

### Node / Frontend
node_modules/
dist/
.firebase/
.agents/
.env
.env.local
.env.*.local

### Python
__pycache__/
*.pyc
*.pyo
.venv/

20040301052_FİNAL
### Tests & DBs
bitirme_proje_veriuretimi_v3/render_backend/tests_api/
bitirme_proje_veriuretimi_v3/tests/
*.sqlite
*.sqlite3
*.db
